<div
  id="cart-notification"
  class="cart-notification z-[1000] notification-hidden fixed bg-opiusDeepGreen p-6 flex right-4 bottom-4 lg:right-9 flex-col lg:min-w-72 gap-2 text-OpiusRubedoAccent text-sm"
>
  <div class="flex justify-end cursor-pointer" id="close-cart">
    <div class="rounded-full border-OpiusRubedoAccent bg-OpiusRubedoAccent border text-opiusDeepGreen px-2 py-1 flex justify-center items-center text-xs mb-5">
      Close
    </div>
  </div>
  <p class=" mb-3">Successfully added to cart!</p>
  <div class="flex flex-col lg:flex-row gap-3">
    <a
      href="/checkout"
      class=" text-opiusDeepGreen border-OpiusRubedoAccent bg-OpiusRubedoAccent border-2 py-2 px-4 hover:opacity-90"
      >Continue to checkout</a
    >
    <a
      href="/cart"
      class=" text-OpiusRubedoAccent border-OpiusRubedoAccent border-2 py-2 px-4 hover:opacity-90"
      >View cart</a
    >
  </div>
</div>
