<div class="flex flex-col pb-10">
  <div class="flex justify-center w-full">
    {% comment %}
      <h3 class="text-center uppercase text-xl lg:text-2xl max-w-lg mx-auto mt-4 lg:mt-0 text-opiusBeige">
        {{ heading }}
      </h3>
    {% endcomment %}
    <div class="flex items-center justify-center">
      <h4 class="title-italic text-opiusBeige !mb-16 text-center">
        {{ heading }}
        {% comment %}
          Our perfect <br>
          serves
        {% endcomment %}
      </h4>
    </div>
  </div>
  <div class="flex justify-center gap-12">
    {% if logos_field != blank %}
      <div class="client-logos flex justify-center flex-wrap gap-y-4 gap-x-6 lg:gap-x-12">
        {% for file_id in logos_field.value %}
          {% assign file_id_parts = file_id | split: '.' %}
          {% assign extension = file_id_parts | last | downcase %}

          {% if extension == 'svg' %}
            {% assign file = file_id | split: '/' | last | file_url %}
          {% else %}
            {% assign file = file_id | split: '/' | last | file_img_url: '200x' %}
          {% endif %}

          <img
            width=""
            height=""
            src="{{ file }}"
            alt="{{ heading }} Logo"
            loading="lazy"
            class="logo w-16 lg:w-24 h-auto"
          >
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
