<div class=" min-h-screen bg-opiusBeige w-full flex justify-center items-center">
  <div class=" flex justify-center flex-col gap-9 items-center">
    <a href="/" class="">
      <img width="" height="" src="{{ "logo-dark.svg" | asset_url }}" alt="logo opius" class="max-w-[6rem]">
    </a>
    <p>Sorry, but this page could not be found.</p>

    <div class="wrap">
      <div class=" mx-auto max-w-xl pb-16 pt-6 text-center lg:pb-32">
        <div class="opius-button mx-auto">
          <a href="/" class="front primary basic-var flex items-center justify-center">Back to Opius</a>
          <div class="back primary basic"></div>
        </div>
      </div>
    </div>
  </div>
</div>
